*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.text-while{
    color: #fff !important;
}
html{
    font-family:Arial, Helvetica, sans-serif ;
}

#main {
    
}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* để header được nổi lên trên slider */
    z-index: 1;
}
#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
    position: relative;
    
    
    
}
#nav, .subnav{
    list-style-type: none;
}
#nav li:hover{
    background-color: #ccc;
    color: #000;
}

#nav> li> a{
    color: white;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    
}
#nav li:hover .subnav{
    display: block;
}

#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 40px;
    
}
#nav .subnav li{
    width: 100%;
}
.nav-arow-down{
    font-size: 12px;
}

.search-btn{
    float: right;
    line-height: 46px;
    padding: 0 21px;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #f44336;
}
.search-btn .ti-search{
    color: white;
}
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('/assert/css/img/slider/chicago.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    color: #fff;
    text-align: center;
}
.text-heading{
    font-family: 500;
    font-size: 24px;

}
.text-dicription{
    margin-top:25px ;
    font-size: 15px;
}
#content {
    height: 500px;
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
#content .section-heading{
    text-align:center ;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align:center ;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-item{
    float: left;
    width: calc(100% / 3);
    text-align: center;
}
#content .member-list{
    padding-top: 48px;
    
    
}

#content .member-name{
    font-size: 15px;
    
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
.tuor_section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom:1px solid #ddd ;
    list-style-type:none ;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
.places-list{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 48px;
}
.place-item{
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.6;
}
.place-buy-btn{
    width: 180px;
    height: 38px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;
    margin-top:15px ;
}
.place-buy-btn:hover{
    background-color: #ddd;
    color: #000;
    box-shadow: 0 0 10px rgba(112, 104, 219, 0.5);
}
#footer {

}
